<div class="container">
    <form [formGroup]="inputForm" (ngSubmit)="onChange()">
        <div  *ngIf="!compact">
            <h1>Financial Independence Calculator</h1>
            <hr>
            Adjust any of the parameters below and observe how it affects your retirement timeline.
            <br><br>
            <div class="card rounded bg-light">
                <div class="row mb-4 mt-4 ms-2">
                    <label for="initialPrincipal" class="col-sm-6 col-form-label-xs h5">Retirement savings:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="initialPrincipal" tabindex="1" class="form-control-xs w-50" increment="1000" decimals="0" currency="$" formControlName="initialPrincipal" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="initialPrincipal" class="col-sm-6 col-form-label-xs small">The amount of money you have saved for retirement.</label>
                </div>
                <div class="row mb-4 ms-2">
                    <label for="monthlyContribution" class="col-sm-6 col-form-label-xs h5">{{ periodContribLabel }} contribution:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="monthlyContribution" tabindex="2" class="form-control-xs w-50" increment="100" decimals="0" currency="$" formControlName="monthlyContribution" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="monthlyContribution" class="col-sm-6 col-form-label-xs small">The amount you plan to contribute towards retirement per month.</label>
                </div>
                <div class="row mb-4 ms-2">
                    <label for="monthlyExpenses" class="col-sm-6 col-form-label-xs h5">{{ periodContribLabel }} expenses:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="monthlyExpenses" tabindex="2" class="form-control-xs w-50" increment="100" decimals="0" currency="$" formControlName="monthlyExpenses" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="monthlyExpenses" class="col-sm-6 col-form-label-xs small">How much do you think would be your monthly expenses in today's money.</label>
                </div>
            </div>
            <br>
            <div class="card rounded bg-light">
                <div class="row mb-4 mt-4 ms-2">
                    <label for="investmentRate" class="col-sm-6 col-form-label-xs h5">Investment rate of return:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="investmentRate" tabindex="4" class="form-control-xs w-50" minValue="0" increment=".1" decimals="2" formControlName="investmentRate" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="investmentRate" class="col-sm-6 col-form-label-xs small">At what rate do you think your investments will grow?</label>
                </div>
                <div class="row mb-4 ms-2">
                    <label for="inflationRate" class="col-sm-6 col-form-label-xs h5">Inflation rate:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="inflationRate" tabindex="3" class="form-control-xs w-50" minValue="0" increment=".1" decimals="2" formControlName="inflationRate" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="inflationRate" class="col-sm-6 col-form-label-xs small">The rate we'll use to adjust your contributions and expenses over time.</label>
                </div>
                <div class="row mb-4 ms-2">
                    <label for="safeWithdrawRate" class="col-sm-6 col-form-label-xs h5">Safe withdrawal rate:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="safeWithdrawRate" tabindex="3" class="form-control-xs w-50" minValue="0" increment=".1" decimals="2" formControlName="safeWithdrawRate" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="safeWithdrawRate" class="col-sm-6 col-form-label-xs small">The rate you think you can safely withdraw per year.</label>
                </div>
            </div>
            <br>
            <div class="card rounded bg-light">
                <div class="row mb-4 mt-4 ms-2">
                    <label for="currentAge" class="col-sm-6 col-form-label-xs h5">Your age:</label>
                    <div class="col-sm-5">
                        <choose-quantity id="currentAge" tabindex="5" class="form-control-xs w-50" minValue="16" increment="1" decimals="0" formControlName="currentAge" (change)="onChange()"></choose-quantity>
                    </div>
                    <label for="currentAge" class="col-sm-6 col-form-label-xs small"></label>
                </div>
            </div>
            <br>
        </div>
        <div *ngIf="compact">
            <div class="row mb-2 mt-4 ms-2">
                <label for="initialPrincipal" class="col-sm-3 col-form-label-xs h6">Retirement savings:</label>
                <div class="col-sm-3">
                    <choose-quantity id="initialPrincipal" isReadOnly="{{ readOnly }}" tabindex="1" class="form-control-xs w-50" minValue="0" increment="1000" decimals="0" currency="$" formControlName="initialPrincipal" (change)="onChange()"></choose-quantity>
                </div>
            </div>
            <div class="row mb-2 mt-4 ms-2">
                <label for="monthlyContribution" class="col-sm-3 col-form-label-xs h6">{{ periodContribLabel }} contribution:</label>
                <div class="col-sm-3">
                    <choose-quantity id="monthlyContribution" isReadOnly="{{ readOnly }}" tabindex="2" class="form-control-xs w-50" increment="100" decimals="0" currency="$" formControlName="monthlyContribution" (change)="onChange()"></choose-quantity>
                </div>
                <label for="monthlyExpenses" class="col-sm-3 col-form-label-xs h6">{{ periodContribLabel }} expenses:</label>
                <div class="col-sm-3">
                    <choose-quantity id="monthlyExpenses" isReadOnly="{{ readOnly }}" tabindex="2" class="form-control-xs w-50" increment="100" decimals="0" currency="$" formControlName="monthlyExpenses" (change)="onChange()"></choose-quantity>
                </div>
            </div>
            <div class="row mb-2 mt-4 ms-2">
                <label for="investmentRate" class="col-sm-3 col-form-label-xs h6">Interest rate:</label>
                <div class="col-sm-3">
                    <choose-quantity id="investmentRate" isReadOnly="{{ readOnly }}" tabindex="4" class="form-control-xs w-50" minValue="0" increment=".1" decimals="2" formControlName="investmentRate" (change)="onChange()"></choose-quantity>
                </div>
                <label for="inflationRate" class="col-sm-3 col-form-label-xs h6">Inflation rate:</label>
                <div class="col-sm-3">
                    <choose-quantity id="inflationRate" isReadOnly="{{ readOnly }}" tabindex="3" class="form-control-xs w-50" minValue="0" increment=".1" decimals="2" formControlName="inflationRate" (change)="onChange()"></choose-quantity>
                </div>
            </div>
            <div class="row mb-2 mt-4 ms-2">
                <label for="safeWithdrawRate" class="col-sm-3 col-form-label-xs h6">Safe withdrawal rate:</label>
                <div class="col-sm-3">
                    <choose-quantity id="safeWithdrawRate" isReadOnly="{{ readOnly }}" tabindex="3" class="form-control-xs w-50" minValue="0" increment=".1" decimals="2" formControlName="safeWithdrawRate" (change)="onChange()"></choose-quantity>
                </div>
                <label for="currentAge" class="col-sm-3 col-form-label-xs h6">Your age:</label>
                <div class="col-sm-3">
                    <choose-quantity id="currentAge" isReadOnly="{{ readOnly }}" tabindex="5" class="form-control-xs w-50" minValue="0" increment="1" decimals="0" formControlName="currentAge" (change)="onChange()"></choose-quantity>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div *ngIf="retireAge > 0" class="col-md-12 mx-auto">
            <h4>You can quit at age {{ retireAge }} with a nest egg of {{ retireBalance }}. Your starting monthly income is {{ monthlyRetireIncome }} or {{ retireIncome }} yearly.</h4>
        </div>
        <div *ngIf="retireAge == -1" class="col-md-12 mx-auto">
            <h4>You won't be able to quit working. Try increasing your contribution or reduce your expenses.</h4>
        </div>
        <div *ngIf="retireAge == -2" class="col-md-12 mx-auto">
            <h4>Why bother using this calculator? You can retire now with a monthly income of {{ monthlyRetireIncome }} or {{ retireIncome }} yearly.</h4>
        </div>
    </div>

    <hr>
    <h2>{{ !showAsset ? "Income vs Spending" : "Portfolio Growth" }}</h2>

    <div *ngIf="!showAsset" class="row mb-4" style="height: 400px">
        <canvas baseChart class="chart"
            [data]="lineChartData"
            [options]="lineChartOptions(minY, maxX)"
            [plugins]="chartPlugins"
            [type]="lineChartType">
        </canvas>
    </div>

    <div *ngIf="showAsset" class="row mb-4" style="height: 400px">
        <canvas baseChart class="chart"
            [data]="barChartData"
            [options]="barChartOptions(minY, maxX)"
            [plugins]="chartPlugins"
            [type]="barChartType">
        </canvas>
    </div>
    
    <div style="float: right">
        <button type="button" (click)="toggleChart()">Show {{ !showAsset ? "Growth" : "Income" }}</button>
    </div>
    <button *ngIf="!disableTable" type="button" (click)="generateAndShowTable()">See table</button>
    
    <div *ngIf="showTable">
    
        <table *ngIf="!showAsset" class="table table-striped">
            <thead>
            <tr>           
                <th>Years</th>
                <th>Total Income</th>
                <th>Total Expenses</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableDataRows">           
                <td *ngFor="let col of row | key">{{row[col]}}</td>
            </tr>
            </tbody>
        </table>

        <table *ngIf="showAsset" class="table table-striped">
            <thead>
            <tr>           
                <th>Years</th>
                <th>Future Value ({{ inputForm.value.investmentRate }}%)</th>
                <th>Total Contributions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableDataRows">           
                <td *ngFor="let col of row | key">{{row[col]}}</td>
            </tr>
            </tbody>
        </table>
    
    </div>

</div>
